DataFactory/pipeline/ErrorConditionsDemo.json
{
	"name": "ErrorConditionsDemo",
	"properties": {
		"description": "This pipeline illustrates a number of error conditions",
		"activities": [
			{
				"name": "Get Metadata from Data Lake File",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_DataLakeSourceFile",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Copy File to Blob Storage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Metadata from Data Lake File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_DataLakeSourceFile",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_destinationDataLake",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Send Failure Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Metadata from Data Lake File",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-13.westus2.logic.azure.com:443/workflows/b4eb841787bc41b48f700f49b2d69b05/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Tn7uEqFlKKm-d3eohaUvudbEISTMp6ZKr1gyrEu0DLU",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"ErrorMessage": "@{activity('Get Metadata from Data Lake File').Error.message}",
						"EmailTo": "@pipeline().parameters.param_email_address"
					}
				}
			}
		],
		"parameters": {
			"param_email_address": {
				"type": "string",
				"defaultValue": "bhaelen@gmail.com"
			}
		},
		"annotations": []
	}
}